[submodule "glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "freetype2"]
	path = deps/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "SOIL2"]
	path = deps/SOIL2
	url = https://github.com/alelievr/SOIL2
