# Prerequisites
*.d

#binary
Examples/basic/simple

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Archives
*.tar.gz

# deps
Deps/vulkansdk-macos-1.1.85.0/
Deps/vulkansdk-macos-1.1.101.0/

# Others
*.ini
*.vscode/

# Build folders
[Bb]uild/
[Bb]uilds/
