[submodule "glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/glslang"]
	path = deps/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
